.top-menu{
    list-style-type: none;
    text-align: center;
}
.nav{
    display: inline;
    padding: 20px;
    width: 620px;
    height: 15px;
    left: 330px;
    top: 31.5px;
}
.web{
text-decoration: none;
color: #ff0000;
background-color: azure;
}
.main-photo{
width: 100%;
}
.main-text{
text-align: center;
color: #373737;
}
.main-text{
    text-align: center;
    color: #373737;
}
.link-button{
    text-align: center;
    padding-top: 20px;
   
}
.style-link{
    text-decoration: none;
    color: #FFFFFF;
    background-color: #FF0000 ;
}
.licence{
    text-align: right;
    padding-top:40px;
    margin-right: 20px;
}



